<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}"/>
    <title>Home</title>
</head>
<body>
    <div class="topnav">
      <h1 class="title">CMantle++</h1>
    </div>
    <main>
      <div>
          <p>Enter word to get similarity with:</p>
              <form method="POST">
                  <p><input name="word" type="text"/></p>
                  <p><input type="submit" value="Get Similarity" /></p>

                  <label>Similarity Options:</label>
                  <select name="optionselect">
                      <option value = "MostSimilar">Get Most Similar</option>
                      <option value = "LeastSimilar">Get Least Similar</option>
                  </select>
              </form>
      </div>
      <div>
          <p class = "calculate">{{data}}</p>
      </div>
    </main>

    <nav>
      <div>
        <a href="/"><button>Home</button></a>
      </div>
    </nav>

    <footer>
      <p>Inspired from the original <a href="https://semantle.novalis.org/">Semantle</a> by David Turner.</p>
    <footer>
</body>
</html>
